:root {
    --primary: #3042ff;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #a6ccff, #fcfbc5) fixed;
}

a {
    text-decoration: none;
}

.my2 {
    margin: 2em 0;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.bg-primary {
    background-color: var(--primary);
    color: white;
}

.bg-danger {
    background-color: #e52a2a;
    color: white;
}

.page-header {
    margin: 2rem;
}

.page-header h2, p {
    margin: 0.5rem;
}

.projects-card-row {
    margin: 2rem 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}